<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Mantenimiento</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	
	<script src="script/jquery-1.11.1.min.js"></script>
	<script src="script/bootstrap.min.js"></script>
	<script src="script/angular.min.js"></script>
	<script src="script/angular-animate.js"></script>
	<script src="script/script.js"></script>
	<script src="script/main.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
<nav class="navbar navbar-default navbar-static-top">
<!-- MENU -->
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">Menu</button>
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">BD2_00</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      	
		<ul class="nav navbar-nav navbar-right">
		<li><a href="#" target="_blank">Base de Datos 2</a></li>
		<li class="dropdown ">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cuenta<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
		<li class="dropdown-header">Configuraciones</li>
		<li class=""><a href="#">Enlace2</a></li>
		<li class="divider"></li>
		<li><a href="#">Salir</a></li>
		</ul>
		</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
<!-- FIN_MENU -->
</nav>

<div class="container-fluid main-container">

	<!--  PANELIZQUIERDO -->
	<div class="col-md-2 sidebar">
		<div class="row">
			<div class="absolute-wrapper"></div>
			<div class="side-menu">
			<nav class="navbar navbar-default" role="navigation">
			<!-- Main Menu -->
			<div class="side-menu-container" >
				<ul class="nav navbar-nav">
					<li class="active" data-toggle="modal" data-target="#resgOrden"><a> New Order </a></li>
					<li class="active" data-toggle="modal" data-target="#resgFactura"><a> New Invoice </a></li>
					<li class="active" data-toggle="modal" data-target="#resgProducto"><a> New Product </a></li>
					<li class="active" data-toggle="modal" data-target="#resgCliente"><a> New Customer </a></li>
					
					<li class="active" data-toggle="modal" data-target="#reportCliente"><a> Report Customer </a></li>
					<li class="active" data-toggle="modal" data-target="#reportProducto"><a> Report Product </a></li>
					<li class="active" data-toggle="modal" data-target="#reportProductoVendidos"><a> Report Product Sold </a></li>	
					<li class="active" data-toggle="modal" data-target="#reportProductCategories"><a> Report Product Categories </a></li>
					<li class="active" data-toggle="modal" data-target="#reportInvoices"><a> Report Invoices </a></li>

				</ul>
			</div>
			</nav>
			</div>
		</div>
	</div>
	<!--  FIN_PANELIZQUIERDO -->

	<!--  PANELDERECHO -->
	<div class="col-md-10 content">
		<!-- Trigger the modal with a button -->

		<!-- MODAL1 -->
		<div id="resgOrden" class="modal fade" role="dialog" ng-controller="myCtrlOrden"><div class="modal-dialog"><div class="modal-content">
		      
		      <!-- TITULO-->
		      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">New Order</h4>
		      </div>
		      <!-- FIN_TITULO -->

		      <!-- CONTENIDO -->
		      	<div class="modal-body"  >
		      		<div class="form-group">
		      			
		      			<label for="idOrder">Order id:</label>
					    <input type="number" class="form-control" id="idOrder"  ng-model="newOrden.order_id" >

				      	<label for="idCustomer">Customer:</label>
				      	<select id="idCustomer" class="form-control" ng-model="newOrden.customer_id">
		   					<option ng-repeat="cliente in clientes" value="{{cliente.customer_id}}">{{cliente.customer_last_name + ", "+cliente.customer_first_name}}</option>
						</select>
						
						<label for="idProducto">Product:</label>
						<table id="idProducto" class="table table-striped">
				        	<tr ng-repeat="producto in productos">   
					            <td>{{producto.product_name}}</td>
					            <td>{{producto.product_price}}</td>
					            <td><input type="checkbox" checklist-model="List.productos_seleccionados" checklist-value="producto"></td>
				          	</tr>
			        	</table>

			        	<label for="idProductSelect">Product Select:</label>
						<table id="idProductSelect" class="table table-striped">
				        	<tr ng-repeat="productoSelect in List.productos_seleccionados" >   
					            <td>
					            	<label>{{productoSelect.product_name}}:</label>
					            </td>
					            <td>
					            	<input type="number" class="form-control" ng-model="newOrderItems.product_quantity[productoSelect.product_id]">
					            </td>
					            <td>
					            	{{newOrderItems.order_item_cost[productoSelect.product_id] = newOrderItems.product_quantity[productoSelect.product_id]*productoSelect.product_price}}
					            </td>					            
				          	</tr>
			        	</table>   

			        	<button type="button" class="btn btn-default"  ng-click="setTotals()">Total Amount</button>
		      			<label>Monto: {{newOrden.total_amount}}</label>	
		      			
					</div>
		      	</div>
		      <!-- FIN CONTENIDO-->
		      
		      <!-- PIE -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default"  data-dismiss="modal"  >Cancelar</button>
	  			<button type="button"  ng-click="add()" data-dismiss="modal" class="btn btn-default">Registrar</button>
		      </div>
		      <!-- FIN PIE -->

		</div></div></div>
		<!-- FIN MODAL1 -->

		<!-- MODAL2 -->
		<div id="resgFactura" class="modal fade" role="dialog" ng-controller="myCtrlFactura"><div class="modal-dialog"><div class="modal-content">
		      
		      <!-- TITULO-->
		      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">New Invoice</h4>
		      </div>
		      <!-- FIN_TITULO -->

		      <!-- CONTENIDO -->
		      	<div class="modal-body"  >
		      		<div class="form-group">

				      	<label for="idAuto">Seleccionar Auto:</label>
				      	<select id="idAuto" class="form-control" ng-model="OrdenCabecera.auto">
		   					<option ng-repeat="auto in autos" value="{{auto.AutPla}}">{{auto.AutPla}}</option>
						</select>

						<label for="idTecnico">Seleccionar Tecnico:</label>
						<select ng-model="OrdenCabecera.personal" class="form-control">
		   					<option ng-repeat="personal in personales" value="{{personal.TecCod}}">{{personal.TecApe +" , "+personal.TecNom}}</option>
						</select>

						<label for="idTecnico">Seleccionar Encargado:</label>
						<select ng-model="OrdenCabecera.encargado" class="form-control">
		   					<option ng-repeat="jefe in jefes" value="{{jefe.EncCod}}">{{jefe.EncApe +" , "+jefe.EncNom}}</option>
						</select>

						<table class="table table-striped">
				        	<tr>   
					            <td>
					            	<label>Hora Inicio:</label>
					            	<input type="time" ng-model="OrdenCabecera.HoraInicio" class="form-control">
					            </td>
					            <td>
					            	<label>Hora Fin:</label>
					            	<input type="time" ng-model="OrdenCabecera.HoraFin" class="form-control">
					            </td>
				          	</tr>
				          	<tr>   
					            <td>
					            	<label>Fecha Inicio:</label>
					            	<input type="date" ng-model="OrdenCabecera.FechaInicio" class="form-control">
					            </td>
					            <td>
					            	<label>Fecha Fin:</label>
					            	<input type="date" ng-model="OrdenCabecera.FechaFin" class="form-control">
					            </td>
				          	</tr>
			        	</table>

						<label for="idTrabajo">Tipo de Trabajo:</label>
						<table id="idTrabajo" class="table table-striped">
				        	<tr ng-repeat="trabajoL in trabajos">   
					            <td>{{trabajoL.TraNom | uppercase }}</td>
					            <td><input type="checkbox" checklist-model="List.Trabajos" checklist-value="trabajoL"></td>
				          	</tr>
			        	</table>

			        	<label for="idDescripciones">Descripcion:</label>
						<table id="idDescripciones" class="table table-striped">
				        	<tr ng-repeat="trabajo in List.Trabajos" >   
					            <td>
					            	<label>{{trabajo.TraNom}}:</label>
					            	<textarea class="form-control" rows="2" ng-model="OrdenDetalle.Descripcion[trabajo.TraCod]"></textarea>
					            	<label>Costo:</label>
					            	<input type="number" class="form-control" ng-model="OrdenDetalle.Costos[trabajo.TraCod]">
					            <td>					            
				          	</tr>

			        	</table>        	
		      			<button type="button" class="btn btn-default"  ng-click="setTotals()">Calcular Monto</button>
		      			<label>Monto: {{OrdenCabecera.CostoTotal}}</label>
		      			{{OrdenCabecera}}
					</div>
		      	</div>
		      <!-- FIN CONTENIDO-->
		      
		      <!-- PIE -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default"  data-dismiss="modal"  >Cancelar</button>
	  			<button type="button"  ng-click="add()" data-dismiss="modal" class="btn btn-default">Registrar</button>
		      </div>
		      <!-- FIN PIE -->

		</div></div></div>
		<!-- FIN MODAL2 -->

		<!-- MODAL3 -->
		<div id="resgProducto" class="modal fade" role="dialog" ng-controller="myCtrlProducto"><div class="modal-dialog"><div class="modal-content">
		      
		      <!-- TITULO-->
		      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Resgistrar Producto</h4>
		      </div>
		      <!-- FIN_TITULO -->

		      <!-- CONTENIDO -->
		      <div class="modal-body"  >
		      	  <div class="form-group">
			        
			        <label for="Nombre">Nombre:</label>
			        <input type="text" class="form-control" id="Nombre" placeholder="Nombre" ng-model="producto.nombre" >
			        

			        <label for="Precio">Precio:</label>
			        <input type="text" class="form-control" id="Precio" placeholder="Precio" ng-model="producto.precio">
			        
			        <label for="Color">Color:</label>
			        <input type="text" class="form-control" id="Color" placeholder="Color" ng-model="producto.color">
			        
			        <label for="Size">Size:</label>
			        <input type="text" class="form-control" id="Size" placeholder="Size" ng-model="producto.size">

			        <label for="Descripcion">Descripcion:</label>
			        <input type="text" class="form-control" id="Descripcion" placeholder="Descripcion" ng-model="producto.descripcion">
			     
			     <!--
			        <select class="form-control" id="Cargo" ng-model="producto.cargo">
   						<option ng-repeat="cargo in cargos" value="{{cargo.name}}">{{cargo.name}}</option>
					</select>
					-->
			      </div>
		      </div>
		      <!-- FIN CONTENIDO-->
		      
		      <!-- PIE -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	  			<button type="button"  ng-click="add()" data-dismiss="modal" class="btn btn-default">Registrar</button>
		      </div>
		      <!-- FIN PIE -->

		</div></div></div>
		<!-- FIN MODAL3 -->


		<!-- MODAL4 -->
		<div id="resgCliente" class="modal fade" role="dialog" ng-controller="myCtrlCliente"><div class="modal-dialog"><div class="modal-content">
		      
		      <!-- TITULO-->
		      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Resgistrar Cliente</h4>
		      </div>
		      <!-- FIN_TITULO -->

		      <!-- CONTENIDO -->
		      <div class="modal-body"  >
		      	  <div class="form-group">
			        
			        <label for="Primer_Nombre">Primer Nombre:</label>
			        <input type="text" class="form-control" id="Primer_Nombre" placeholder="Primer Nombre" ng-model="cliente.primer_nombre" >
			        

			        <label for="Segundo_Nombre">Segundo Nombre:</label>
			        <input type="text" class="form-control" id="Segundo_Nombre" placeholder="Segundo Nombre" ng-model="cliente.segundo_nombre">
			        
			        <label for="Genero">Genero:</label>
			        <input type="text" class="form-control" id="Genero" placeholder="Genero" ng-model="cliente.genero">
			        
			        <label for="Genero">Genero:</label>
						<select ng-model="cliente.genero" class="form-control">
		   				<option ng-repeat="genero in generos" value="{{genero.name}}">{{genero.name}}</option>
					</select>

			        <label for="Telefono">Telefono:</label>
			        <input type="text" class="form-control" id="Telefono" placeholder="Telefono" ng-model="cliente.telefono">

			        <label for="Direccion">Direccion:</label>
			        <input type="text" class="form-control" id="Direccion" placeholder="Direccion" ng-model="cliente.direccion">

			        <label for=">Otros_detalles">Otros detalles:</label>
			        <input type="text" class="form-control" id="Otros_detalles" placeholder="Otros detalles" ng-model="cliente.otros_detalles">
			     
			     <!--
			        <select class="form-control" id="Cargo" ng-model="producto.cargo">
   						<option ng-repeat="cargo in cargos" value="{{cargo.name}}">{{cargo.name}}</option>
					</select>
					-->
			      </div>
		      </div>
		      <!-- FIN CONTENIDO-->
		      
		      <!-- PIE -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	  			<button type="button"  ng-click="add()" data-dismiss="modal" class="btn btn-default">Registrar</button>
		      </div>
		      <!-- FIN PIE -->

		</div></div></div>
		<!-- FIN MODAL4 -->

		<!-- REPORTES -->


		<!-- MODAL5 -->
		<div id="reportCliente" class="modal fade" role="dialog" ng-controller="myCtrlCliente"><div class="modal-dialog"><div class="modal-content">
		      
		      <!-- TITULO-->
		      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Report Customer</h4>
		      </div>
		      <!-- FIN_TITULO -->

		      <!-- CONTENIDO -->
		      <div class="modal-body" >
		      	
		      	<div class="form-group">
			        
		      		<div class="alert alert-info" role="alert">
				        <strong>Customer: </strong> {{customerSelect.customer_last_name  +", "+ customerSelect.customer_first_name}}<br>
				        <strong>Phone Number: </strong> {{customerSelect.phone_number}}<br>
				        <strong>Email Address: </strong> {{customerSelect.email_address}}<br>
						<strong>Gender: </strong> {{customerSelect.gender}}<br>
						<strong>Address details: </strong> {{customerSelect.address_details}}<br>
						<strong>Other details: </strong> {{customerSelect.other_details}}<br>
				    </div>

				    <div class="input-group">
				        <span class="input-group-addon">Search</span>
				        <input type="text" class="form-control" placeholder="Search" ng-model="Search">
				    </div>
			    	
			        <table class="table table-striped">
			          <thead>
			          <tr>
			            <th>
			              <a href="" ng-click="ordenarPor('customer_last_name')">customer</a>
			              <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-customer_last_name')"></span>
			            </th>
			            <th>phone_number</th>
			            <th>email_address</th>
			          </tr> 
			          </thead>
			          <tbody>
			          <tr ng-repeat="cliente in clientes | orderBy:ordenSeleccionado | filter:Search">   
			            <td>{{cliente.customer_last_name + ", " + cliente.customer_first_name}}</td>
			            <td>{{cliente.phone_number}}</td>
						<td>{{cliente.email_address}}</td>
						<td>
							<a href="" ng-click="detalles(cliente)">+</a>
						</td>
			          </tr>
			          </tbody>
			        </table>
			    </div>
			    
		      </div>
		      <!-- FIN CONTENIDO-->
		      
		      <!-- PIE -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	  			<button type="button"  ng-click="add()" data-dismiss="modal" class="btn btn-default">Guardar</button>
		      </div>
		      <!-- FIN PIE -->

		</div></div></div>
		<!-- FIN MODAL5 -->

		<!-- MODAL6 -->
		<div id="reportProducto" class="modal fade" role="dialog" ng-controller="myCtrlProducto"><div class="modal-dialog"><div class="modal-content">
		      
		      <!-- TITULO-->
		      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Report Product </h4>
		      </div>
		      <!-- FIN_TITULO -->

		      <!-- CONTENIDO -->
		      <div class="modal-body" >
		      	
		      	<div class="form-group">
			        
			        <div class="alert alert-info" role="alert">
				        <strong>Product: </strong> {{productSelect.product_name}}<br>
				        <strong>Price: </strong> {{productSelect.product_price}}<br>
				        <strong>Category: </strong> {{productSelect.product_type_description}}<br>
						<strong>Color: </strong> {{productSelect.product_color}}<br>
						<strong>Size: </strong> {{productSelect.product_size}}<br>
				    </div>

				    <div class="input-group">
				        <span class="input-group-addon">Search</span>
				        <input type="text" class="form-control" placeholder="Search" ng-model="Search">
				    </div>
			    	
			        <table class="table table-striped">
			          <thead>
			          <tr>
			            <th>
			              <a href="" ng-click="ordenarPor('product_name')">product</a>
			              <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-product_name')"></span>
			            </th>
			            <th>
			            	<a href="" ng-click="ordenarPor('product_price')">price</a>
			                <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-product_price')"></span>
			            </th>
			            <th>
			            	<a href="" ng-click="ordenarPor('product_type_description')">category</a>
			                <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-product_type_description')"></span>	
			            </th>
			          </tr> 
			          </thead>
			          <tbody>
			          <tr ng-repeat="producto in productos | orderBy:ordenSeleccionado | filter:Search">   
			            <td>{{producto.product_name}}</td>
			            <td>{{producto.product_price}}</td>
						<td>{{producto.product_type_description}}</td>
						<td>
							<a href="" ng-click="detalles(producto)">+</a>
						</td>
			          </tr>
			          </tbody>
			        </table>
			    </div>
			    
		      </div>
		      <!-- FIN CONTENIDO-->
		      
		      <!-- PIE -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	  			<button type="button"  ng-click="add()" data-dismiss="modal" class="btn btn-default">Guardar</button>
		      </div>
		      <!-- FIN PIE -->

		</div></div></div>
		<!-- FIN MODAL6 -->

		<!-- MODAL7 -->
		<div id="reportProductCategories" class="modal fade" role="dialog" ng-controller="myCtrlProducto"><div class="modal-dialog"><div class="modal-content">
		      
		      <!-- TITULO-->
		      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Report Product Categories</h4>
		      </div>
		      <!-- FIN_TITULO -->

		      <!-- CONTENIDO -->
		      <div class="modal-body" >
	      	
		      	<div class="form-group">
			        
				    <div class="input-group">
				        <span class="input-group-addon">Search</span>
				        <input type="text" class="form-control" placeholder="Search" ng-model="Search">
				    </div>

			        <table class="table table-striped">
			          <thead>
			          <tr>
			            <th>
			              	<a href="" ng-click="ordenarPor('product_type_description')">product_type_description</a>
			              	<span class="caret" style="cursor: pointer" ng-click="ordenarPor('-product_type_description')"></span>
			            </th>
			            <th>
			            	<a href="" ng-click="ordenarPor('vat_rating')">vat_rating</a>
			            	<span class="caret" style="cursor: pointer" ng-click="ordenarPor('-vat_rating')"></span>
			            </th>
			            <th>
			            	<a href="" ng-click="ordenarPor('products')">products</a>
			            	<span class="caret" style="cursor: pointer" ng-click="ordenarPor('-products')"></span>
			            </th>
			          </tr>
			          </thead>
			          <tbody>
			          <tr ng-repeat="product_category in product_categories | orderBy:ordenSeleccionado | filter:Search">   
			            <td>{{product_category.product_type_description}}</td>
			            <td>{{product_category.vat_rating}}</td>
						<td>{{product_category.products}}</td>
			          </tr>
			          </tbody>
			        </table>
			    </div>
			    
		      </div>
		      <!-- FIN CONTENIDO-->
		      
		      <!-- PIE -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	  			<button type="button"  ng-click="add()" data-dismiss="modal" class="btn btn-default">Guardar</button>
		      </div>
		      <!-- FIN PIE -->

		</div></div></div>
		<!-- FIN MODAL7 -->

		<!-- MODAL8 -->
		<div id="reportProductoVendidos" class="modal fade" role="dialog" ng-controller="myCtrlProducto"><div class="modal-dialog"><div class="modal-content">
		      
		      <!-- TITULO-->
		      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Report Products Sold </h4>
		      </div>
		      <!-- FIN_TITULO -->

		      <!-- CONTENIDO -->
		      <div class="modal-body" >
	      	
		      	<div class="form-group">
			        
		      		<label for="idCategory">Category:</label>
				    <select id="idCategory" class="form-control" ng-model="Category">
		   				<option ng-repeat="product_sold in products_sold | unique:'product_type_description'" value="{{product_sold.product_type_description}}">{{product_sold.product_type_description}}</option>
					</select>
					
					<label for="idColor">Color:</label>
				    <select id="idColor" class="form-control" ng-model="Color">
		   				<option ng-repeat="product_sold in products_sold" | unique:'product_color'  ng-if="product_sold.product_type_description==Category" value="{{product_sold.product_color}}">
		   					{{product_sold.product_color}}
		   				</option>
					</select>
			    	
			        <table class="table table-striped">
			          <thead>
			          <tr>
			            <th>
			              <a href="" ng-click="ordenarPor('product_name')">product</a>
			              <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-product_name')"></span>
			            </th>
			            <th>
			            	<a href="" ng-click="ordenarPor('sold')">sold</a>
			              	<span class="caret" style="cursor: pointer" ng-click="ordenarPor('-sold')"></span>
			            </th>
			            
			          </tr>
			          </thead>
			          <tbody>
			          <tr ng-repeat="product_sold in products_sold | orderBy:ordenSeleccionado | filter:Category | filter:Color">   
			            <td>{{product_sold.product_name}}</td>
			            <td>{{product_sold.sold | number}}</td>	
			          </tr>
			          </tbody>
			        </table>
			    </div>
			    
		      </div>
		      <!-- FIN CONTENIDO-->
		      
		      <!-- PIE -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	  			<button type="button"  ng-click="add()" data-dismiss="modal" class="btn btn-default">Guardar</button>
		      </div>
		      <!-- FIN PIE -->

		</div></div></div>
		<!-- FIN MODAL8 -->

		<!-- MODAL9 -->
		<div id="reportInvoices" class="modal fade" role="dialog" ng-controller="myCtrlFactura"><div class="modal-dialog"><div class="modal-content">
		      
		      <!-- TITULO-->
		      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Report Invoices </h4>
		      </div>
		      <!-- FIN_TITULO -->

		      <!-- CONTENIDO -->
		      <div class="modal-body" >
		      	
		      	<div class="form-group">
			        
		      		<div class="alert alert-info" role="alert">
				        <strong>Customer: </strong> {{invoiceSelect.customer_first_name +" "+invoiceSelect.customer_middle_initial+", "+invoiceSelect.customer_last_name}}<br>
				        <strong>Orden Date: </strong> {{invoiceSelect.date_order_placed}}<br>
						<strong>Invoice Date: </strong> {{invoiceSelect.invoice_date}}<br>
						<strong>Amount: </strong> {{invoiceSelect.total_amount}}<br>
						<strong>Details: </strong> {{invoiceSelect.invoice_details}}<br>
				    </div>


				    <div class="input-group">
				        <span class="input-group-addon">Search</span>
				        <input type="text" class="form-control" placeholder="Search" ng-model="Search">
				    </div>
			    	
			        <table class="table table-striped">
			          <thead>
			          <tr>
			            <th>
			              <a href="" ng-click="ordenarPor('customer_last_name')">customer</a>
			              <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-customer_last_name')"></span>
			            </th>
			            <th>
			            	<a href="" ng-click="ordenarPor('date_order_placed')">date_order_placed</a>
			                <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-date_order_placed')"></span>
			            </th>
			            <th>
			            	<a href="" ng-click="ordenarPor('invoice_date')">invoice_date</a>
			                <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-invoice_date')"></span>	
			            </th>
			            <th>
			            	<a href="" ng-click="ordenarPor('total_amount')">total_amount</a>
			                <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-total_amount')"></span>	
			            </th>
			          </tr> 
			          </thead>
			          <tbody>
			          <tr ng-repeat="invoice in invoices | orderBy:ordenSeleccionado | filter:Search">   
			            <td>{{invoice.customer_first_name +" "+invoice.customer_middle_initial+", "+invoice.customer_last_name}}</td>
			            <td>{{invoice.date_order_placed}}</td>
			            <td>{{invoice.invoice_date}}</td>
						<td>{{invoice.total_amount}}</td>
						<td><a ng-click="detalles(invoice)">+</a></td>
			          </tr>
			          </tbody>
			        </table>
			    </div>
			    
		      </div>
		      <!-- FIN CONTENIDO-->
		      
		      <!-- PIE -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	  			<button type="button"  ng-click="add()" data-dismiss="modal" class="btn btn-default">Guardar</button>
		      </div>
		      <!-- FIN PIE -->

		</div></div></div>
		<!-- FIN MODAL9 -->

		<!-- Panel de ORDEN de TRABAJOS -->
		<div class="panel panel-default" ng-controller="myCtrlOrden">
			<div class="panel-heading">ORDEN DE TRABAJO</div>
			<div class="panel-body">
				<div class="form-group">	
			        <table class="table table-striped">
			          <thead>
			          <tr>
			            <th>Customer</th>
			            <th>Date</th>
			            <th>Total Amount</th>
			          </tr> 
			          </thead>
			          <tbody>
			          <tr ng-repeat="orden in ordenes">
			            <td>{{orden.customer_first_name + " " + orden.customer_middle_initial +", " + orden.customer_last_name  | uppercase}}</td>
			            <td>{{orden.date_order_placed | uppercase}}</td>
			            <td>{{orden.total_amount }}</td>
			            
			          </tr>
			          </tbody>
			        </table>
			    </div>
			</div>

		</div>
		<!-- fin Panel de ORDEN de TRABAJOS -->
	</div>
	<!--  FIN_PANELDERECHO -->

	<footer class="pull-left footer"><p class="col-md-12"><hr class="divider">by: Roycer</p></footer>

</div>



</body>
</html>
